<li id="entry-<%= entry.id %>">
  <%= link_to gravatar_for(entry.user, size: 50), entry.user %>
  <span class="user"><%= link_to entry.user.name, entry.user %></span>
  <%= link_to entry.title, entry, class: "title" %>
  <span class="content">
    <%= entry.body %>
    <%= image_tag entry.picture.url if entry.picture? %>
  </span>
  <span class="timestamp">
    <%= t "entries.entry.posted" %> <%= time_ago_in_words(entry.created_at) %> <%= t "entries.entry.ago" %>.
    <% if logged_in? %>
      <% if current_user?(entry.user) %>
        <%= link_to t("entries.entry.delete"), entry, method: :delete, data: { confirm: t("entries.entry.sure") } %>
      <% end %>
    <% end %>
  </span>
</li>
